#magic-girl {
position: absolute;
height: 350px;
opacity: 100%;
}
#magic-girl2 {

height: 350px;
opacity: 100%;
}

#video-colour {
background-color: #f9ceef;
padding-top: 302px;
padding-bottom: 21px;
}